
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}
:root {
    --index: calc(1vw + 1vh);
    --transition: 1.5s cubic-bezier(0.05, 0.5, 0, 1);
    --logo-size: calc(var(--index) * 8);
}

@font-face {
    font-family: Tektur-3d;
    src: url(../Fonts/Tektur-VariableFont_wdth\,wght.ttf);
    font-weight: 400;
    
}

@font-face {
    font-family: Exo2-3d;
    src: url(../Fonts/Exo2-Italic-VariableFont_wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: PressStart2P-3d;
    src: url(../Fonts/PressStart2P-Regular.ttf);
    font-weight: 400;
}

body {
    color: rgb(255, 255, 255);
    font-family: Tektur-3d;
    overflow-x: hidden;
}

.hidden {
  display: none;
}


.Load {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.logo {
    width: var(--logo-size);
    position: absolute;
    height: var(--logo-size);
    background-size: var(--logo-size); 
    background-repeat: no-repeat;
    left: calc(50% - calc(var(--logo-size) / 2));
    top: calc(var(--index) * 2.8);
    z-index: 1;
}

.layers {
    perspective: 1000px;
    overflow: hidden;
}

.layers__container {
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    transition: transform var(--transition);
}

.layers__item {
    position: absolute;
    inset: -15vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer-1 {
    transform: translateZ(-155px); scale: (1.06);
}

.layer-2 {
    transform: translateZ(80px) scale(.8);
}

.layer-3 {
    transform: translateZ(120px) scale(.88);
}

.layer-5 {
    transform: translateZ(380px) scale(.7);
}

.hero__content {
    font-size: calc(var(--index) * .80);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * .2.5);
    line-height: 2.5em;
    margin-top: calc(var(--index) * -0.1);
}


.hero__content span {
    display: block;
}

.button-start {
    font-size: Arial;
    font-weight: 600;
    text-transform: uppercase;
    font-size: calc(var(--index) * .71);
    letter-spacing: -0.01vw;
    padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
    background-color: transparent;
    color: white;
    border-radius: 10em;
    border: rgb(255 255 255 / .4) 3px solid;
    outline: none;
    cursor: pointer;
    
}

.button-start:hover {
    border: rgba(17, 0, 255, 0.4) 3px solid;
}


.layer-4, .layer-5 {
    pointer-events: none;
}

/* Главная страница  */

.header {
position: fixed;
z-index: 3;
background: rgba(255, 255, 255, 0.16);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.7px);
-webkit-backdrop-filter: blur(5.7px);
width: 100%;
height: calc(var(--index) * 4.5)

}
.content__header {
display: flex;
justify-content:space-around;
align-items: center;
width: 100%;
margin: 0 auto;
}



.header__logo img {
  width: calc(var(--index) * 6);
  height: calc(var(--index) * 4);
}

.navigation {

border-bottom: 0.3vh solid black;
border-left: 0.3vh solid black;
border-right: 0.3vh solid black;
padding: 0 2vh 0 2vh;
}

.navigation li, ul {
    font-family: PressStart2P-3d;
    font-size: calc(var(--index) * 0.60);
    display: flex;
    gap: 1vh;
    list-style: none;
    color: black;
    transition: 0.5s ease-in-out;
}

.list1 {
border-right: 0.3vh solid black;
padding: 2vh 2vh 0 1vh;
}

.list1 li:hover {
  color: rgb(255, 29, 29);
  text-shadow: rgb(255, 0, 0) 1px 0 10px;
}

.list2 {
border-right: 0.3vh solid black;
padding: 2vh 1vh 0 1vh;
}

.list2 li:hover {
  color: rgb(0, 171, 250);
  text-shadow: rgb(0, 171, 250) 1px 0 10px;
}

.list3 {
border-right: 0.3vh solid black;
padding: 2vh 1vh 0 1vh;
}

.list3 li:hover {
  color: rgb(255, 0, 64);
  text-shadow: rgb(255, 0, 64) 1px 0 10px;
}

.list4 {
  padding: 1vh 1vh 0 1vh;
  margin: 0 0 1vh 0;
}

.list4 li:hover {
  color: rgb(0, 255, 42);
  text-shadow: rgb(0, 255, 42) 1px 0 10px;
}


.link {
  margin-bottom: 1vh;
  border-bottom: 0.3vh solid black;
}

.border__link {
  padding-top: 4vh;
  border-left: 0.3vh solid black;
  border-right: 0.3vh solid black;
}

.link img {
  width: calc(var(--index) * 2.1);
  height: calc(var(--index) * 2);
  border-radius: 2em;
  transition: 0.5s ease-in-out;
}

.img_link-1:hover {
  -webkit-box-shadow: 4px 4px 62px 11px rgba(0, 30, 255, 1);
  -moz-box-shadow: 4px 4px 62px 11px rgba(0, 30, 255, 1);
  box-shadow: 4px 4px 62px 11px rgba(0, 30, 255, 1);
}

.img_link-2:hover {
  -webkit-box-shadow: 4px 4px 62px -10px rgba(255, 255, 255, 1);
  -moz-box-shadow: 4px 4px 62px -10px rgba(255, 255, 255, 1);
  box-shadow: 4px 4px 62px -10px rgba(255, 255, 255, 1);
}

.img_link-3:hover {
  -webkit-box-shadow: 4px 4px 62px -10px rgba(246, 255, 107, 1);
  -moz-box-shadow: 4px 4px 62px -10px rgba(246, 255, 107, 1);
  box-shadow: 4px 4px 62px -10px rgba(246, 255, 107, 1);
}

/* переключатель */
.switch {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 38px ;
  background-color: black;
  border-radius: 160px;
}

.switch_input {
  height: 0;
  width: 0;
  opacity: 0;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: rgb(170, 170, 170);
  border-radius: 160px;
  border: 6px solid black;
}

.switch__slider::before {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 1px;
  top: 1px;
  height: 24px;
  width: 24px;
  background-color: rgb(0, 0, 0);
  border-radius: 160px;
}

.switch_input + .switch__slider {
  box-shadow: 0 0 1px pink;
}

.switch_input:checked + .switch__slider {
  background-color: black;
}


.switch_input:checked + .switch__slider::before {
  transform: translateX(40px);
  background-color: rgb(255, 255, 255);
}

/* Основа */

.contet__main {
  width: 100%;
  min-height: 100vh;
  transform-style: preserve-3d;
}


.content__background {
  perspective: 1px;
  width: 100%;
  height: 100dvh;
  transform-style: inherit;
}

.content__background::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  /* top: -10vh; */
  z-index: -1;
  transform-origin: center;
  min-height: 100vh;
  background-image: url(../image/bacground-test.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
  transform: translateZ(-1px) scale(2);
}

/* Метеориты */
.li {

  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #FFF;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
  0 0 0 8px rgba(255, 255, 255, 0.1),
  0 0 20px rgba(255,255,255,1);
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 0.1;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-100vh);
    opacity: 0;
  }
}

.li::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #002fff, 
  transparent);
}

.li-1 {
  top: 0;
  right: 0;
  left: 50%;
  animation-delay: 0;
  animation-duration: 1s;
}
.li-2 {
  top: 0;
  right: 80px;
  left: 40%;
  animation-delay: 0.2s;
  animation-duration: 3s;
}
.li-3 {
  top: 80px;
  right: 0px;
  left: 30%;
  animation-delay: 0.4s;
  animation-duration: 2s;
}
.li-4 {
  top: 0;
  right: 400px;
  left: 20%;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}
.li-5 {
  top: 0px;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}
.li-6 {
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
.li-7 {
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}
.li-8 {
  top: 0;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}
.li-9 {
  top: 300px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}
.li-10 {
  top: 0;
  right: 450px;
  left: initial;
  animation-delay: 2.75;
  animation-duration: 2.25s;
}

/* Обо мне */

.chapter__main {
  width: 100%;
  height: 100vh;
  background-image: url(../image/background-chapter.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.chapter {
  display: flex;
  padding: 1% 0 1% 0;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}


.hr1 {
  width: 22vh;
  height: 0.8vh;
  background: -webkit-linear-gradient(45deg, rgb(0, 0, 0) 35%, rgb(255, 0, 0) 100%);
  background: -moz-linear-gradient(45deg, rgb(0, 0, 0) 35%, rgb(255, 0, 0) 100%);
  background: linear-gradient(45deg, rgb(0, 0, 0) 35%, rgb(255, 0, 0) 100%);
  border-radius: 25px 0px 0px 25px;
}

.text-chapter {
display: flex;
flex-direction: column;
}

.text-chapter h2 {
  color: black;
  font-size: calc(var(--index) * 1.5);
}

.text-chapter p {
  margin-top: 10%;
  font-size: calc(var(--index) * 1.1);
  color: black;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-chapter {
  display: flex;
  align-items: center;

}

.transition {
  width: 100%;
  height: 10vh;
  background-color: black;
}

.AboutTheSite {
  padding: 1% 0 1% 0;
  width: 100%;
  height: 100vh;
  background-image: url(../image/AboutTheSite.png);
  position: relative;
}

.AboutTheSite__container {
  width: 80%;
  margin: 0 auto;
}

.AboutTheSite__title h2 {
  color: rgb(150, 45, 255);
  text-align: center;
  font-size: calc(var(--index) * 1.5);

}

.hr2 {
  background-color: rebeccapurple;
  border-radius: 20px;
  margin: 0 auto;
  width: 20vh;
  height: 0.8vh;
}

.gif img{
  border: 2px solid rgb(69, 82, 255);
  border-radius: 2em;
}

.gif {
  position: absolute;
  top: 40%;
}

.AboutTheSite__text {
  width: 100%;
  height: 90vh;
  position: relative;
}
.AboutTheSite__text p {
  color: black;
}

.table {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border: 2px solid black;
}


.AboutTheSite__text-1 {
  top: 5%;
  left: 10%;
  border-radius: 88px;
  width: 25%;
  height: 15vh;
}

.AboutTheSite__text-2 {
  top: 25%;
  left: 40%;
  border-radius: 37px;
  width: 25%;
  height: 10vh;
}

.AboutTheSite__text-3 {
  top: 45%;
  left: 55%;
  border-radius: 60px;
  width: 25%;
  height: 20vh;
}

.AboutTheSite__text-4 {
  top: 5%;
  left: 10%;
  border-radius: 70%;
  width: 25%;
  height: 20vh;
}






